<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>comma</key>
		<string>comma.glif</string>
		<key>eight</key>
		<string>eight.glif</string>
		<key>eight.tnum</key>
		<string>eight.tnum.glif</string>
		<key>five</key>
		<string>five.glif</string>
		<key>five.tnum</key>
		<string>five.tnum.glif</string>
		<key>four</key>
		<string>four.glif</string>
		<key>four.tnum</key>
		<string>four.tnum.glif</string>
		<key>nine</key>
		<string>nine.glif</string>
		<key>nine.tnum</key>
		<string>nine.tnum.glif</string>
		<key>one</key>
		<string>one.glif</string>
		<key>one.tnum</key>
		<string>one.tnum.glif</string>
		<key>period</key>
		<string>period.glif</string>
		<key>seven</key>
		<string>seven.glif</string>
		<key>seven.tnum</key>
		<string>seven.tnum.glif</string>
		<key>six</key>
		<string>six.glif</string>
		<key>six.tnum</key>
		<string>six.tnum.glif</string>
		<key>space</key>
		<string>space.glif</string>
		<key>three</key>
		<string>three.glif</string>
		<key>three.tnum</key>
		<string>three.tnum.glif</string>
		<key>two</key>
		<string>two.glif</string>
		<key>two.tnum</key>
		<string>two.tnum.glif</string>
		<key>zero</key>
		<string>zero.glif</string>
		<key>zero.tnum</key>
		<string>zero.tnum.glif</string>
	</dict>
</plist>
